label {
	display: block;
	margin: 5px 0;
}

button {
	background-color: green;
}

strong {
	font-size: 18px;
	color: #fff;
}

.submit {
	background-color: green;
	border-radius: 5px;
	color: #fff;
	padding: 10px 32px;
	margin-top: 10px;
	margin-bottom: 20px;
}

span {
	font-weight: bold;
	color: green;
}
